<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<p>
    <strong th:text="${username}">Full Name</strong>
    has been authenticated as a
    <span th:text="${role}">Role</span>
</p>
<div class="center-links">
    <a th:href="@{/index}" th:text="${indexLinkText}">Index Page</a>
</div>
<form th:action="@{/logout}" method="post" style="display:inline;">
    <button type="submit">Logout</button>
</form>
</body>
</html>