<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringBootSupervisorApplication cloud" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <module name="spring-boot-jsupervisor" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="org.alexmond.simplebootconfigsample.SpringBootSupervisorApplication" />
    <option name="WORKING_DIRECTORY" value="file://$PROJECT_DIR$/spring-boot-cloud/supervisor-work" />
    <extension name="software.aws.toolkits.jetbrains.core.execution.JavaAwsConnectionExtension">
      <option name="credential" />
      <option name="region" />
      <option name="useCurrentConnection" value="false" />
    </extension>
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>